* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.link {
    position: relative;
    font-size: 18px;
    font-family: sans-serif;
    display: block;
    padding: 15px 80px;
    height: 60px;
    text-decoration: none;
    color: #ffffff74;
}

.dash-img {
    width: 30px;
}

.manu-img {
    margin-top: -4px;
    width: 20px;
    height: 20px;
}

.link-2 {
    font-size: 14px;
    font-family: sans-serif;
    display: block;
    padding: 15px 35px;
    height: 60px;
    text-decoration: none;
    color: #fff;
}

.link-3 {
    font-size: 18px;
    font-family: sans-serif;
    display: block;
    padding: 15px 80px;
    height: 60px;
    text-decoration: none;
    color: #ffffff;
}

.line {
    display: block;
    width: 105%;
    height: 2px;
    background-color: #FFFFFF1A;
}

.title {
    margin: 20px 0 50px;
    font-size: 18px;
    font-family: sans-serif;
}

.strong {
    font-weight: 400;
    color: rgb(70, 100, 232);
    font-family: sans-serif;
}

.list {
    margin-top: 150px;
    width: 700px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(20, 40px);
}

.item {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 40px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.items {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
}

.item:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.item:nth-child(20) {
    border-radius: 0 5px 5px 0;
}

.box {
    margin-top: 30px;
    display: inline-block;
    background-color: rgba(70, 100, 232, 0.809);
    padding: 3px 12px;
    border-radius: 2.7px;
    color: #fff;
}

.quiz {
    margin-top: 50px;
    font-size: 18px;
    font-family: sans-serif;
}

.abcd {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    display: grid;
    grid-template-rows: repeat(4, 70px);
}

.a {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 28px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0000001a;
    cursor: pointer;
}

.a:hover {
    background-color: rgba(0, 0, 0, 0.053);
}

.a:hover span {
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #1D2D5B;
    color: #fff;
    border: 1px solid black;
}

.btn {
    position: relative;
    left: calc(50%);
    width: 121px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-l {
    width: 70px;
    height: 35px;
    border: 1px solid #1D2D5B;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.s {
    font-weight: 600;
    margin-bottom: 5px;
    color: #1D2D5B;
    margin-right: 20px;
}

.l {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #1D2D5B;
}

.creator {
    margin-top: 50px;
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
}

.col-9 {
    padding: 100px 25px;
}

.logo {
    width: 50px;
    height: 50px;
}

.nav {
    position: relative;
    background-color: #ececf1;
    padding: 15px 0;
}

.nav-title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #1D2D5B;
}

.g {
    padding-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tt {
    position: absolute;
    right: 45px;
    bottom: 10px;
    height: 75px;
}

.timeoff {
    top: 42.2px;
    right: 200px;
    position: absolute;
    background-color: #ececf1;
    font-family: sans-serif;
    font-size: 14px;
    color: #1D2D5B;
}

.wrapper {
    background-color: #6372821a;
}

.inner {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 40px;
    background-color: #fff;
}

.meny {
    position: absolute;
    top: 35px;
    left: 350px;
    height: 30px;
}


/* ------------------------   page 2   ------------------------- */

.j1 {
    background-color: #1D2D5B;
}


/* -----------------------------------------------     animation   ----------------------------------------------- */

main {
    position: relative;
}

.wrappero {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taem {
    /* width: 250px;
    height: 50px;
    /* border-radius: 5px; */
    /* border: 1px solid silver; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* padding: 3px 25px;
    border: 2px solid #60a76094;
    background: #abc7abbe;
    background: -webkit-linear-gradient(193deg, #8ab48a 0%, #c9edc4 100%);
    background: linear-gradient(193deg, #8ab48a 0%, #c9edc4 100%); */
}

.ssss {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    left: -80px;
    top: -2px;
    border: 1px solid silver;
    padding: 3px 25px;
    border: 2px solid #60a76094;
    background: #abc7abbe;
    background: -webkit-linear-gradient(193deg, #8ab48a 0%, #c9edc4 100%);
    background: linear-gradient(193deg, #8ab48a 0%, #c9edc4 100%);
}

.ocloc {
    text-align: center;
    color: rgba(93, 95, 93, 0.589);
    position: relative;
}

.linko {
    position: absolute;
    left: 120px;
    top: 0px;
    width: 220px;
    background-color: red;
    padding: 8px 25px;
    text-decoration: none;
    display: block;
    color: white;
    border-radius: 7px;
    border: none;
    text-align: center;
    font-size: 20px;
}

.ocloc::after {
    position: relative;
    content: ":59 ";
    display: block;
    top: -20px;
    left: 23px;
    font-size: 20px;
    animation-name: tame;
    animation-duration: 60s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ocloc::before {
    position: relative;
    content: "00:59";
    top: 10px;
    left: -15px;
    display: block;
    font-size: 20px;
    animation-name: hour;
    animation-duration: 3600s;
    animation-delay: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.imgo {
    position: absolute;
    left: -40px;
    top: 15px;
    background-color: rgba(115, 156, 75, 0.027);
}

@keyframes tame {
    0% {
        content: "       :59";
    }
    1.6% {
        content: "       :58";
    }
    3.2% {
        content: "       :57";
    }
    4.8% {
        content: "       :56";
    }
    6.4% {
        content: "       :55";
    }
    8% {
        content: "      :54";
    }
    9.6% {
        content: "      :53";
    }
    11.2% {
        content: "      :52";
    }
    12.8% {
        content: "      :51";
    }
    14.4% {
        content: "      :50";
    }
    16% {
        content: "      :49";
    }
    17.6% {
        content: "      :48";
    }
    19.2% {
        content: "      :47";
    }
    20.8% {
        content: "      :46";
    }
    24% {
        content: "      :45";
    }
    25.6% {
        content: "      :44";
    }
    27.2% {
        content: "      :43";
    }
    28.8% {
        content: "      :42";
    }
    30.4% {
        content: "      :41";
    }
    32% {
        content: "      :40";
    }
    33.6% {
        content: "      :39";
    }
    35.2% {
        content: "      :38";
    }
    36.2% {
        content: "      :37";
    }
    38.4% {
        content: "      :36";
    }
    40% {
        content: "      :35";
    }
    41.6% {
        content: "      :34";
    }
    43.2% {
        content: "      :33";
    }
    44.8% {
        content: "      :32";
    }
    46.4% {
        content: "      :31";
    }
    48% {
        content: "      :30";
    }
    49.6% {
        content: "      :29";
    }
    51.2% {
        content: "      :28";
    }
    52.8% {
        content: "      :27";
    }
    54.6% {
        content: "      :26";
    }
    56% {
        content: "      :25";
    }
    57.6% {
        content: "      :24";
    }
    59.1% {
        content: "      :23";
    }
    60.8% {
        content: "      :22";
    }
    62.4% {
        content: "      :21";
    }
    64% {
        content: "      :20";
    }
    65.6% {
        content: "      :19";
    }
    67.2% {
        content: "      :18";
    }
    68.8% {
        content: "      :17";
    }
    70.4% {
        content: "      :16";
    }
    72% {
        content: "      :15";
    }
    73.6% {
        content: "      :14";
    }
    75.2% {
        content: "      :13";
    }
    76.8% {
        content: "      :12";
    }
    78.4% {
        content: "      :11";
    }
    80% {
        content: "      :10";
    }
    81.6% {
        content: "      :09";
    }
    83.2% {
        content: "      :08";
    }
    84.8% {
        content: "      :07";
    }
    86.4% {
        content: "      :06";
    }
    88% {
        content: "      :05";
    }
    89.6% {
        content: "      :04";
    }
    91.2% {
        content: "      :03";
    }
    92.8% {
        content: "      :02";
    }
    93.4% {
        content: "      :01";
    }
    96% {
        content: "      :01";
    }
    100% {
        content: "      :00";
    }
}

@keyframes hour {
    0% {
        content: "  00:59 ";
    }
    1.6% {
        content: "  00:58";
    }
    3.2% {
        content: "  00:57";
    }
    4.8% {
        content: "  00:56 ";
    }
    6.4% {
        content: "  00: 55";
    }
    8% {
        content: "  00:53 ";
    }
    9.6% {
        content: "   00:52";
    }
    11.2% {
        content: "   00:51";
    }
    12.8% {
        content: "   00:50";
    }
    14.4% {
        content: "   00:50";
    }
    16% {
        content: "   00:49";
    }
    17.6% {
        content: "   00:48";
    }
    19.2% {
        content: "   00:47";
    }
    20.8% {
        content: "   00:46";
    }
    24% {
        content: "   00:45";
    }
    25.6% {
        content: "   00:44";
    }
    27.2% {
        content: "   00:43";
    }
    28.8% {
        content: "   00:42";
    }
    30.4% {
        content: "   00:41";
    }
    32% {
        content: "00:40";
    }
    33.6% {
        content: "   00:39";
    }
    35.2% {
        content: "   00:38";
    }
    36.2% {
        content: "   00:37";
    }
    38.4% {
        content: "   00::36";
    }
    40% {
        content: "   00:35";
    }
    41.6% {
        content: "   00:34";
    }
    43.2% {
        content: "   00:33";
    }
    44.8% {
        content: "   00:32";
    }
    46.4% {
        content: "   00:31";
    }
    48% {
        content: "   00:30";
    }
    49.6% {
        content: "   00:29";
    }
    51.2% {
        content: "   00:28";
    }
    52.8% {
        content: "   00:27";
    }
    54.6% {
        content: "   00:26";
    }
    56% {
        content: "   00:25";
    }
    57.6% {
        content: "   00:24";
    }
    59.1% {
        content: "   00:23";
    }
    60.8% {
        content: "   00:22";
    }
    62.4% {
        content: "    00:21";
    }
    64% {
        content: "    00:20";
    }
    65.6% {
        content: "    00:19";
    }
    67.2% {
        content: "    00:18";
    }
    68.8% {
        content: "    00:17";
    }
    70.4% {
        content: "    00:16";
    }
    72% {
        content: "    00:15";
    }
    73.6% {
        content: "    00:14";
    }
    75.2% {
        content: "    00:13";
    }
    76.8% {
        content: "    00:12";
    }
    78.4% {
        content: "    00:11";
    }
    80% {
        content: "    00:10";
    }
    81.6% {
        content: "    00:09";
    }
    83.2% {
        content: "    00:08";
    }
    84.8% {
        content: "    00:07";
    }
    86.4% {
        content: "    00:06";
    }
    88% {
        content: "    00:05";
    }
    89.6% {
        content: "    00:04";
    }
    91.2% {
        content: "    00:03";
    }
    92.8% {
        content: "    00:02";
    }
    93.4% {
        content: "    00:01";
    }
    97% {
        content: "    00:01";
    }
    100% {
        content: "    00:00";
    }
}